body {
  transition: background-color 0.3s, color 0.3s;
}

body.light-theme {
  background-color: #f0f0f0;
  color: #333;
}

body.dark-theme {
  background-color: #121212;
  color: #b3b3b3;
}
body.dark-theme .playlist-card {
  background-color: #121212;
  color: #b3b3b3;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgrey;
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  cursor: pointer;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1ed760;
}

h1,
h2,
h3 {
  color: inherit;
}

#playlist li:hover {
  background-color: #282828;
  color: #1db954;
  cursor: pointer;
}

button {
  transition: background-color 0.3s;
}

button:hover {
  background-color: hsl(141, 76%, 20%);
}

footer {
  background-color: #191414;
  color: #b3b3b3;
}

footer a:hover {
  color: #1db954;
}

.book-card {
  background-color: #181818;
  transition: transform 0.3s, box-shadow 0.3s;
  /* cursor: pointer; */
}

.book-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.bi {
  cursor: pointer;
}

body.dark-theme .playlist-card {
  width: 100%;
  background-color: #181818;
  transition: transform 0.3s, box-shadow 0.3s;
}
body.light-theme .playlist-card {
  background-color: #ffffff;
}
.playlist-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.playlist-card ul {
  height: 85%;
}

.playlist {
  max-height: 50vh;
}

.icon-action-btn-container {
  margin-top: 30px;
}

.icon-action-btn {
  transition: color 0.3s;
}

.icon-action-btn.active {
  color: #1db954;
}

.icon-action-btn:hover {
  color: #1db954;
}

.light-theme .book-card,
.light-theme #playlist,
.light-theme .bg-gray-800 {
  background-color: #f8f8f8;
}

.light-theme .text-gray-300 {
  color: #333;
}

.light-theme .bg-gray-700 {
  background-color: #e0e0e0;
}

/* Play/Pause button animation */
.play-pause-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #1db954;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
}

.play-pause-button.play::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 10px 0 10px 18px;
  border-color: transparent transparent transparent #fff;
}

.play-pause-button.pause::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 24px;
  background-color: #fff;
  box-shadow: 16px 0 0 #fff;
}

.play-pause-button:hover {
  background-color: #1ed760;
}

.tooltip-parent {
  position: relative;
  display: inline-block;
}

.tooltip {
  margin: 28px;
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  min-width: 150px;
  background-color: rgba(43, 42, 42, 0.7);
  position: absolute;
  padding: 4px;
  color: white;
  z-index: 1;
  transition: opactiy 2s;
  text-decoration: none;
  font-style: normal;
}

.tooltip-parent:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip-left .tooltip {
  top: 50%;
  right: 100%;
  margin-right: 5px;
  transform: translateY(-50%);
}

.tooltip-right .tooltip {
  top: 50%;
  left: 100%;
  margin-left: 5px;
  transform: translateY(-50%);
}

.tooltip-bottom .tooltip {
  top: 100%;
  left: 50%;
  margin-left: -60px;
  margin-top: 5px;
}

.tooltip-top .tooltip {
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  margin-bottom: 5px;
}

.adiobk-sub-item {
  padding: 12px 8px;
  border-radius: 8px;
}

.player {
  position: relative;
  background-color: white;
}

.player audio {
  width: 100%;
  outline: none;
}

audio {
  background-color: transparent;
  background-image: none;
}

#audio-book-list-item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#audio-book-list-item {
  cursor: pointer;
  list-style: none;
}